/********** Template CSS **********/
:root {
  --primary: #6244c5;
  --secondary: #ffc448;
  --light: #fafafb;
  --dark: #12141d;
  --main-blue: #007bff;
  --main-lighter-blue: #4fa4ff;
  --grey: #5a5a5a;

  --swiper-navigation-btn-padding: 20px;
}

body {
  color: #242424;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

.my-6 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.fs-small {
  font-size: .8rem;
}

.fs-smaller {
  font-size: .6rem;
}

.py-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Button ***/
.btn {
  font-weight: 500;
  transition: 0.5s;
}

.btn.btn-primary,
.btn.btn-secondary {
  color: #ffffff;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

/*** Navbar ***/
.navbar.fixed-top {
  display: none;
  transition: 0.5s;
}

.navbar .navbar-nav .nav-link {
  padding: 20px 15px;
  color: var(--dark);
  font-size: 18px;
  font-weight: 600;
  outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: var(--primary);
}

@media (max-width: 991.98px) {
  .navbar .navbar-nav .nav-link {
    padding: 10px 0;
  }
}



/*** Header ***/
#home {
  /* margin-bottom: 6rem; */
  background: url(../img/bg-header.png) left top no-repeat;
}

#home .container {
  height: 100vh;
  position: relative;
  display: flex;
}
#home .container .profile-pic {
  position: absolute;
  bottom: 0;
  right: 0;
  object-fit: contain;
  object-position: center;
  max-height: 100%;
  width: auto;
}
#home .left-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
/* #home .container .content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
} */

.typed-cursor {
  font-size: 30px;
  color: var(--dark);
}

/* Bagian animasi tombol Pulse */
#home .btn-pulse {
  position: relative;
  color: #fff;
  border-radius: 10px;
  border-color: var(--main-blue);
  background-color: var(--main-blue);
  box-shadow: 0 0 10px var(--main-blue), 0 0 20px var(--main-lighter-blue);
  display: flex;
  width: fit-content;
}

#home .btn-pulse:before,
#home .btn-pulse:after {
  content: "";
  position: absolute;
  background-color: var(--main-lighter-blue);
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.5;
  border-radius: 10px;
}

#home .btn-pulse:before {
  animation: pulse 2s ease-out infinite;
}
#home .btn-pulse:after {
  animation: pulse 2s 2s ease-out infinite;
}

@keyframes pulse {
  100% {
    transform: scaleX(1.25) scaleY(1.5);
    opacity: 0;
  }
}

.modal-video .modal-dialog {
  position: relative;
  max-width: 800px;
  margin: 60px auto 0 auto;
}

.modal-video .modal-body {
  position: relative;
  padding: 0px;
}

.modal-video .close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0px;
  top: -30px;
  z-index: 999;
  font-size: 30px;
  font-weight: normal;
  color: #ffffff;
  background: #000000;
  opacity: 1;
}

/*** About ***/
#about .years .display-1 {
  font-size: 10rem;
  line-height: 9rem;
}

#about .years h5 {
  letter-spacing: 30px;
  margin-right: -30px;
}

/*** Skills ***/
.skills .progress {
  height: 5px;
  border-radius: 5px;
}

.skills .progress .progress-bar {
  width: 0px;
  border-radius: 5px;
  transition: 3s;
}

#skill .nav-pills .nav-link {
  color: var(--dark);
}

#skill .nav-pills .nav-link.active {
  color: #ffffff;
}

#skill .tab-content hr {
  width: 30px;
}

.skill img {
    width: auto;
    max-height: 2rem;
    object-fit: cover;
    object-position: center;
}
.skill-lang img {
    max-width: 2rem;
    height: auto;
    object-fit: cover;
    object-position: center;
}

/*** Service ***/
.service-item .bg-icon {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/bg-icon.png) center center no-repeat;
  background-size: cover;
}

/*** Project Portfolio ***/
#portfolio-filters li {
  display: inline-block;
  font-weight: 500;
  color: var(--dark);
  cursor: pointer;
  transition: 0.5s;
  border-bottom: 2px solid transparent;
}

#portfolio-filters li:hover,
#portfolio-filters li.active {
  color: var(--primary);
  border-color: var(--primary);
}

.portfolio-img {
  position: relative;
}

.portfolio-btn {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(98, 68, 197, 0.9);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 30px;
  padding-bottom: 100px !important;
  opacity: 0;
  transition: 0.5s;
}

.portfolio-item:hover .portfolio-btn {
  opacity: 1;
  padding-bottom: 30px !important;
}

.portfolio-contaner .modal .swiper {
  text-align: center;
}

.swiper-button-next, .swiper-button-prev {
  width: calc(var(--swiper-navigation-size) + var(--swiper-navigation-btn-padding));
  height: calc(var(--swiper-navigation-size) + var(--swiper-navigation-btn-padding));
  border-radius: 50%; /* Creates a circular shape */
  background-color: var(--grey); /* Change the background color as needed */
  color: #fff; /* Change the text color as needed */
  font-weight: 700;
  border: 2px solid #ccc; /* Add a border if desired */
}

#project .modal .swiper-slide {
  height: 80vh;
}
#project .modal .swiper-slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

#project .thumb-container img {
  height: 100%;
  width: 100%;
}
#project .thumb-container .thumb-img.active {
  border: 2px solid rgba(0, 102, 255, 0.8);
}

#project #modal-project-single .modal-body {
  height: 80vh;
  display: inline-block;
}
#project #modal-project-single img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.carousel-splidejs .thumbnail {
  width: 70px;
  height: 70px;
}

.carousel-splidejs .thumbnail img {
  width: 100%;
  height: auto;
}

/*** Team ***/
.team-item img {
  transition: 0.5s;
}

.team-item:hover img {
  opacity: 0.7;
}

.team-item .team-text {
  position: absolute;
  left: 0;
  right: 60px;
  bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: 0.5s;
}

.team-item:hover .team-text {
  right: 30px;
  opacity: 1;
}

.team-item .team-text div {
  transition: 0.5s;
}

.team-item:hover .team-text div {
  margin-left: 30px;
}

/*** Testimonial ***/
.testimonial-left,
.testimonial-right {
  position: relative;
}

.testimonial-left img,
.testimonial-right img {
  position: absolute;
  padding: 5px;
  border: 1px solid var(--secondary);
  border-radius: 70px;
}

.testimonial-left img:nth-child(1),
.testimonial-right img:nth-child(3) {
  width: 70px;
  height: 70px;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.testimonial-left img:nth-child(2),
.testimonial-right img:nth-child(2) {
  width: 60px;
  height: 60px;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}

.testimonial-left img:nth-child(3),
.testimonial-right img:nth-child(1) {
  width: 50px;
  height: 50px;
  bottom: 10%;
  right: 10%;
}

.testimonial-carousel .owl-item img {
  width: 120px;
  height: 120px;
}

.testimonial-carousel .testimonial-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 50%;
  bottom: -15px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: 1px solid var(--secondary);
  border-radius: 60px;
}

.testimonial-carousel .owl-dots {
  height: 40px;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 2px solid var(--secondary);
  border-radius: 30px;
  transition: 0.5s;
}

.testimonial-carousel .owl-dot::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 5px;
  left: 5px;
  border-radius: 16px;
  background: var(--secondary);
  transition: 0.5s;
}

.testimonial-carousel .owl-dot.active::after {
  background: var(--primary);
}
